@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "tailwindcss";


.font-garamond {
  font-family: 'EB Garamond', serif;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
}



/* Variables de color pastel tipo boda */
:root {
  --font-serif: 'Libre Baskerville', serif;
  --color-ivory: #f9f8f4;
  --color-blush: #fce8e6;
  --color-sage: #dfe7d6;
  --color-lavender: #e8e6f8;
  --color-dustyblue: #c7d4e5;
  --color-gold: #f5e6c4;
}

/* Personalización base */
body {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--color-ivory);
  color: #444;
}



/* Colores personalizados */
.text-gold {
  color: #d4af7f;
  /* tono oro pastel */
}

.hover\:text-gold:hover {
  color: #d4af7f;
}
